.login{
    box-sizing: border-box;
    margin:10% 10%;
    text-align: center;
    padding: 2rem;
    background-color: rgb(177, 219, 219);
    border-radius: 1rem;
    
}

@media (min-width:675px){
     .login{
        margin: 10% 30%;
        background-color: bisque;
     }
}